body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    perspective: 500px;

}

.block {
    height: 200px;
    width: 200px;
    background-color: red;
    animation: girar3D 6s linear;
    animation-delay: 1s;
}

@keyframes girar3D {
    0% {
        transform: rotateY(0deg);
    }
    49% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: blue;
        transform: rotateY(180deg);
    }
}