div {
    width: 100px;
    height: 100px;
}
.caja1 {
    position: absolute;
    z-index: 3;
    background-color:green;
}
.caja2 {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 100px;
    background-color: pink;
}

.caja3 {
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 130px;
    background-color: yellow;
}